{% extends 'base.html.twig' %}

{% block title %}Hello FrontendController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Salama daholo {{ name }} a ! ✅</h1>

    <p>Ao tsara an</p>
    <p>Normal tsara an</p>
    <p>Nankaiza Martin ????</p>

</div>
{% endblock %}
